@page "/coverager"

<MudText Typo="Typo.h4">Coverager</MudText>
<p></p>

@*Group runers*@
<MudGrid>
    <MudItem xs="12" md="12">
        <MudPaper Class="d-flex flex-row py-2 px-1">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="ButtonOnClick_1">Func 1</MudButton>
            <MudText Class="pa-2 mx-2" Typo="Typo.body2">MudBlazor is @Text</MudText>
        </MudPaper>
        <MudPaper Class="d-flex flex-row py-2 px-1">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="ButtonOnClick_2">Func 2</MudButton>
            <MudText Class="pa-2 mx-2" Typo="Typo.body2">MudBlazor is @Text</MudText>
        </MudPaper>
        <MudPaper Class="d-flex flex-row py-2 px-1">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="ButtonOnClick_3">Func 3</MudButton>
            <MudText Class="pa-2 mx-2" Typo="Typo.body2">MudBlazor is @Text</MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    void ButtonOnClick_1()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }

    void ButtonOnClick_2()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }

    void ButtonOnClick_3()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
}


