@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://drill4j.github.io/how-to-start/">testing your project with Drill4X and how to get the best results</a>.</p>
</div>

                            @*Button 1*@

@functions{
    public string GetHello()
    {
        return "Hello";
    }
}

<button Onclick="RazorFunction()">Click</button>

@section Scripts
{
    <script>
    function RazorFunction() {
        $("button").html('@GetHello()');
    }

    </script>
}

                          @*Button 1 end*@
